<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/styles/style3.css">
  </head> 

  <body>
        <ul>
          <li><a href="./about.html">About</a></li>
          <li><a href="./login.html">Login</a></li>
          <li><a href="./sign.html">Sign Up</a></li>
           
        </ul>
    <h1 class="tooltip">
      Trivia Run: Escape from Reiaz <span class="tooltiptext">Warning:Flashing Lights, Loud Noises and Reiaz Ramdial</span>
    </h1>
    <p>NJTR Production</p>
    <p>
      You wake up in a forest covered in a thick smog. Your throat grows tight as you try to breathe in the heavy air. As you stand up you hear a shuffling in the brambles behind you. A screeching can be heard as the silouhette of a tall goblin faced creature rises from the shadows. Beads of sweat fall from your fivehead, your hands get clammy and your eyes start to dialate. You don't know what it is but you know you have to run.
    </p>
    <div class="display" id="front-page">
      <embed src="https://cdn.glitch.com/bb25481b-e5d0-4722-9568-07a35deaad35%2F1%20Hour%20of%20Dark%20Piano%20Music%20III%20Dark%20Piano%20For%20Dark%20Thoughts.mp3?v=1564063434969" width="300" height="90" loop="true" hidden="true" autostart="true">
    </div>
        <form method= "post">
    <style>
      button{
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}
      button:hover{
      -webkit-transform: rotate(360deg); 
      transform: rotate(360deg);
      height: 160px;
      width:300px
      }
    </style>


    <button id="begin-button" type="begin">Run!</button>
  </form>
  </body>
</html>