body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-image:url("https://cdn.glitch.com/bb25481b-e5d0-4722-9568-07a35deaad35%2Freiaz%20-%20monster.jpg?v=1564064269209");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align:center;
  
}

h1 {
  font-style: italic;
  color: White;
}
p{
 font-size:30px;
  border: 5px solid ;
  padding: 20px;
  margin: 10px;
}

a{
  color:white;
}
/*input{
  height:80px;
  width:150px;
  font-size:50px;
  text-shadow:2px 2px red;
}*/
ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none
}

ul {
  text-allign: center;
  text-shadow: 1.50px 1.50px red;
  box-shadow: 15px 15px 5px black
}

h1 {
  text-shadow: 2px 2px red;
}

p{
  text-shadow: 2px 2px red;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 450px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

input{
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}
input:hover{
  -webkit-transform: rotate(360deg); 
  transform: rotate(360deg);
  height: 160px;
  width:300px
}

button{
  height:80px;
  width:150px;
  font-size:50px;
  text-shadow:2px 2px red;
  border-radius:25px;
}