body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-image:url("https://cdn.glitch.com/bb25481b-e5d0-4722-9568-07a35deaad35%2Freiaz%20-%20monster.jpg?v=1564064269209");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align:center;
  
 }